@page "/Prestamos/Create"
@using CarlosCustodio_Ap1_P1.Models
@using CarlosCustodio_Ap1_P1.Services
@rendermode InteractiveServer
@inject NavigationManager navigation
@inject PrestamosService prestamosSevice

<PageTitle>Crear Prestamo</PageTitle>

<div class="card-body">

    <InputText type="type" name="name" value="" />

</div>
    <a href="#"
       class="btn btn-primary">
        <span class="bi bi-floppy mt-3"></span> Guardar
    </a>
    <a href="#"
       class="btn btn-primary">
        <span class="bi bi-arrow-left mt-3"></span> Volver
    </a>

@code {



}
