@page "/Prestamos/Delete/{prestamoId:int}"
@rendermode InteractiveServer
@inject PrestamosService prestamoService


<PageTitle>Eliminar Prestamo</PageTitle>

    <div class="container">
    <div class="card shadow-lg rounded ">
        <div class="card-header  bg-primary text-white text-center py-2 rounded">
                <h5 class="text-center">Eliminar prestamo</h5>
            </div>
            <div class="card bg-white">
            <h5 class="text-center">¿Estas seguro de que quieres eliminar este prestamo?</h5>
            </div>
            <div class="container">
                <div class="card-header">
                    <div class="col md-6">
                        <div class="card-body">                           
                            <ul class="list-unstyled">
                                <li class="text-center">PrestamoId:<strong>@prestamo.prestamoId</strong></li>
                                <li class="text-center">Deudor:<strong>@prestamo.deudores.Nombres</strong></li>
                                <li class="text-center">Concepto:<strong>@prestamo.concepto</strong></li>
                                <li class="text-center">Monto:<strong>@prestamo.monto</strong></li>
                            </ul>

                        </div>
                        <div class="card-body text-center">
                            <a @onclick="EliminarPrestamo" class="btn btn-primary"><span class="bi bi-trash"></span>Eliminar</a>
                            <a href="/Prestamos/Index" class="btn btn-primary"><span class="bi bi-arrow-left mt-3"></span>Volver</a>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    @if (Validacion)
    {
        <div class="alert alert-danger text-center" role="alert">
            El Prestamo se a Eliminado con exito.
            Dele al boton volver para retornar a la consulta.
        </div>
    }

    </div>


@code {
    [Parameter]
    public int PrestamoId { get; set; }
    public Prestamos? prestamo { get; set; } = new Prestamos();
    private bool Validacion;

    protected override async Task OnInitializedAsync()
    {
        if (prestamo != null)
        {
            prestamo = await prestamoService.Buscar(PrestamoId);
        }
    }

    public async Task EliminarPrestamo()
    {
        if (PrestamoId == 0 || prestamo == null)
        {
            return;
        }
        if (await prestamoService.Eliminar(PrestamoId))
        {
            Validacion = true;
        }
    }


}
