@page "/Prestamos/Index"
@using CarlosCustodio_Ap1_P1.Models
@using CarlosCustodio_Ap1_P1.Services
@rendermode InteractiveServer
@inject NavigationManager navigation
@inject PrestamosService prestamosSevice

 <PageTitle>Consulta Prestamos</PageTitle>  

    <div class="card-body">

        @*Boton Crear*@
        <div class="col-md-3 text-end">
            <a href="/Prestamos/Create" class="btn btn-primary"><span class="bi bi-plus-square mt-3"></span> Crear </a>
        </div>

        @*Tabla*@
        <table class="table table-bordered text-center">
        <thead class="bg-primary text-white">
            <tr>
                <th>Deudor</th>
                <th>Concepto</th>
                <th>Monto</th>
                <th>Ver</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prestamos in ListaPrestamos)
            {
                <tr>
                    <td>@prestamos.deudor</td>
                    <td>@prestamos.concepto</td>
                    <td>@prestamos.monto</td>          
                    <td>
                        <a class="btn btn-outline-primary" href="/Prestamos/Details/@prestamos.prestamoId">
                            <span class="bi bi-eye"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-outline-success" href="/Prestamos/Edit/@prestamos.prestamoId">
                            <span class="bi bi-marker-tip"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" href="/Prestamos/Delete/@prestamos.prestamoId">
                            <span style="color: red;" class="bi bi-trash3"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
           
            
                
        </table>

    </div>


@* <a href="#"
   class="btn btn-primary">
    <span class="bi bi-floppy mt-3"></span> Guardar
</a>
<a href="#"
   class="btn btn-primary">
    <span class="bi bi-arrow-left mt-3"></span> Volver
</a> *@

@code {
    public Prestamos Prestamos = new Prestamos();
    public List<Prestamos> ListaPrestamos = new List<Prestamos>();
   
    protected override async Task OnInitializedAsync()
    {
        ListaPrestamos =  prestamosSevice.Listar(c => true);
    }  
} 
 